<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Links To Read Now</title>
</head>
<body>
    <h1 style="text-align: center;">Links To Read Now</h1>
    {% for link in link_latest_list %}
      <h3>
        {{ link.title }}
      </h3>
      <div>
        {{ link.updated_at }}
      </div>
      <div style="text-align: right;">
        <a href="/links/{{ link.id }}/">Read More</a>
      </div>
    {% endfor %}
</body>
</html>
